---
http_interactions:
- request:
    method: get
    uri: http://api.bestbuy.com/v1/products(longDescription=sennheiser*)?apiKey=r57cg7bzeza9xmw2ya3cp6ju&format=json&page=5&pageSize=15&show=sku,name,customerReviewAverage,shortDescription,salePrice,image
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-02.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 61,
          "to": 75,
          "total": 131,
          "currentPage": 5,
          "totalPages": 9,
          "queryTime": "0.015",
          "totalTime": "0.054",
          "partial": false,
          "canonicalUrl": "/v1/products(longDescription=\"sennheiser*\")?show=sku,name,customerReviewAverage,shortDescription,salePrice,image&page=5&format=json&apiKey=r57cg7bzeza9xmw2ya3cp6ju",
          "products": [
            {
              "sku": 4434003,
              "name": "Sennheiser - MOMENTUM Earbud Headphones - Black Chrome",
              "customerReviewAverage": "5.0",
              "shortDescription": "Stainless steel acoustic pipes; sound isolating; dynamic speaker system; 3-button in-line remote; in-line microphone; tangle-free cable; includes carrying case",
              "salePrice": 99.98,
              "image": "http://images.bestbuy.com/BestBuy_US/images/products/4434/4434003_sa.jpg"
            },
            {
              "sku": 4433401,
              "name": "Sennheiser - MOMENTUM Earbud Headphones - Black Chrome",
              "customerReviewAverage": "4.6",
              "shortDescription": "Proprietary transducer technology; sound isolation; noise cancellation; stainless steel acoustic pipes; 3-button in-line remote and microphone for Apple&#174; iOS devices; tangle-resistant cable",
       [...]
