---
http_interactions:
- request:
    method: get
    uri: http://api.bestbuy.com/v1/products(longDescription%20in(sennheiser*))?apiKey=r57cg7bzeza9xmw2ya3cp6ju&format=json&show=sku,name,customerReviewAverage,shortDescription,salePrice,image
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-02.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 10,
          "total": 131,
          "currentPage": 1,
          "totalPages": 14,
          "queryTime": "0.003",
          "totalTime": "0.138",
          "partial": false,
          "canonicalUrl": "/v1/products(longDescription in(\"sennheiser*\"))?show=sku,name,customerReviewAverage,shortDescription,salePrice,image&format=json&apiKey=r57cg7bzeza9xmw2ya3cp6ju",
          "products": [
            {
              "sku": 9678429,
              "name": "Sennheiser - Camera-Mount Wireless Microphone System - Black",
              "customerReviewAverage": null,
              "shortDescription": "SENNHEISER Camera-Mount Wireless Microphone System: Invisible clip-on microphone; sturdy metal housing; automatic frequency management; easy-to-read illuminated display; 4-level battery indicator; 626-668MHz frequency range",
              "salePrice": 629.95,
              "image": "http://images.bestbuy.com/BestBuy_US/images/products/9678/9678429_sa.jpg"
            },
            {
              "sku": 9678447,
              "name": "Sennheiser - Camera-Mount Wireless Microphone System - Black",
              "customerReviewAverage": null,
              "shortDescription": "SENNHEISER Camera-Mount Wireless Microphone System: Invisible clip-on microphone; sturdy metal housing; automatic frequency management; easy-to-read illuminated display; 4-level battery indicator; 56[...]
